body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5px ;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.container_1{
    width: 90%;
    margin: 0px;
    overflow: hidden;
    height:  auto;
    
}
.container_2{
    width: 80%;
    margin: 0px;
    /* overflow: hidden; */
    height:  auto;
}
.container_3{
    width: 80%;
    margin: 0px;
    overflow: hidden;
    height:  auto;
}

header{
    background-color: #35424a;
    color: antiquewhite;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    border-radius: 5px;
} 
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin:0;
    padding: 0;
    
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    
}
header #branding{
    float: left;
}

header #branding h1{
    margin-top: 10px ; 
}
header nav{
    float: right;
    margin-top: 10px;
    
}
header .hightlight, header .current a{
    font-weight: bold;
    color:#a72c0a
}
header a:hover{ 
    font-weight: bold;
    color:#cccccc
   
}
#showcase{
    
    min-height: 500px;
    background: url('/project1/img/wallpaperflare.com_wallpaper\ \(1\).jpg') no-repeat 0 -300px;
    text-align: center;
    color: #e71111;
    
    
    
}
#showcase div h1{
    margin-top: 75px ;
    font-size: 55px;
    margin-bottom: 10px;
    

}
#boxes{
    margin-top: 20px;
}
#boxes .box1{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

footer  {
margin: 20px;
margin-top: 20px;
color-adjust: #ffffff;
background-color: #e8491d;
text-align: center;
}