

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans&display=swap');
:root{
    --purple:#814096;
    --pink:#F83292;
    --gradient:linear-gradient(90deg, var(--purple), var(--pink));
}
*::selection{
    background:var(--pink);
    color:rgb(255, 255, 255);
    scale: (1.1);
}
*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;    
    background: var(--gradient);
    color: rgb(238, 235, 235);
    height: 10vh;
}

.brand-title {
    font-size: 30px;
    margin: 5px;
    font-weight: bolder;
    font-style: oblique;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size:25px;
    font-weight: bold;
    
}

.toggle-button {
    position: absolute;
    top: 12px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        justify-content: center;
    }

    .navbar-links ul li a {
        padding: 8px 16px;
    }

    .navbar-links.active {
        display: flex;
    }
}
/* Home section */
.home{
    display: flex;
    margin-left: 10px ;
    align-items: center;
    justify-content: center;
    background:url('.img/home-bg-img.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home .image img{
    width:40vw;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-56px);
    }
}

.home .content h3{
    font-size: 40px;
    color:#333;
    text-transform: uppercase;
}

.home .content h3 span{
    color:var(--pink);
    text-transform: uppercase;
}

.home .content p{
    font-size: 20px;
    color:#666;
    padding:16px 0;
}

/* About me section */

.btn{
    display: inline-block;
    margin-top: 16px;
    padding: 12px 8px;
    border-radius: 80px;
    background:var(--gradient);
    font-size: 25px;
    color:#fff;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}
.heading{
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;

}
.image:hover{
    transform: scale(1.1);
    opacity: 0.9;

}
.skills .box-container, .about .box-container, .project .box-container, .qualification .box-container{
    display: flex;
    align-items: center;
    background: var(--gradient);
    justify-content: center;
    flex-wrap: wrap;
}

.skills .box-container .box, .about .box-container .box,.project .box-container .box, .qualification .box-container .box{
    flex: 1;
    background:#fff;
    border-radius: 8px;
    border:2px solid rgba(0,0,0,.2);
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
    margin: 24px;
    padding: 24px 16px;
    border-radius: 8px;
    text-align: center;
    transition: .2s linear;
}

.skills .box-container .box img, .about .box-container .box img,.project .box-container .box img,.qualification .box-container .box img{
    height: 15rem;
}

.skills .box-container .box h3,.about .box-container .box h3,.project .box-container .box h3,.qualification .box-container .box h3{
    font-size: 32px;
    color:#333;
    padding-top: 16px;
}

.skills .box-container .box p, .about .box-container .box p,.project .box-container .box p,.qualification .box-container .box p{
    font-size: 20px;
    color:#666;
    padding: 10px 0;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./img/header_background.png");
    flex-wrap: wrap;
    
    padding-bottom: 64px;
}
.contact form{
    border:.5px solid rgba(0,0,0,.8);
    box-shadow: 0 8px 16px rgba(241, 225, 225, 0.1);
    border-radius: 8px;
    background:#fff;
}

.contact form .heading{
    text-align: center;
    padding:0;
    padding-bottom: 32px;
}

.contact form .inputBox{
    position: relative;
    margin: 0 20px;
}

.contact form .inputBox input, .contact form .inputBox textarea{
    width: 80%;
    background:rgb(250, 138, 138);
    color:rgb(8, 8, 8);
    margin:10px 0;
    padding:8px 0;
    font-size: 20px;
    border-bottom: 2px solid rgba(0,0,0,.1);
    text-transform: none;
}

.contact form .inputBox textarea{
    resize: none;
    height: 100px;
}

.contact form .inputBox label{
    position: absolute;
    top:25px; left:0;
    font-size: 25px;
    color :rgb(8, 8, 8);
    
}


.contact .image img{
    width:30vh;
    animation: float 2s linear infinite;
}

.footer{
    padding-top: 50px;
    background: url("./img/footer-bg.png");
    background-size: cover;
    background-position: center;
    z-index: 50;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 200px;
    margin:30px;
}

.footer .box-container .box h3{
    font-size: 40px;
    padding:1rem 0;
    color:#fff;
    
}

.footer .box-container .box p{
    font-size: 24px;
    padding:.80px 0;
    color:#eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 14px;
    padding: 8px 0;
    color:#eee;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
    margin:.80px 0;
    margin-right: 8px;
    border-radius: 50%;
    background:#fff;
    color:var(--pink);
    font-size: 24px;
    height: 72px;
    width: 72px;
    line-height: 80px;
    text-align: center;
}






 